main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
:root {
    --color-header: #004643;
    --color-txtheader: #fffffe;
}
.contenedor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.contenedor-info figure{
    text-align: center;
    
    
}