* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-header: #004643;
    --color-txtheader: #fffffe;
}

header {
    background-color: var(--color-header);
    z-index: 900;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar .logo-header > img {
    height: 100px;
    width: 100px;
}

.logo-header {
    display: flex;
    color: var(--color-txtheader);
    align-items: center;
    width: 300px;
}

.nav-bar .links {
    display: flex;
    margin-right: 200px;
    gap: 40px;
}

.nav-bar .links .link a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-bar .links .link {
    width: 150px;
    height: 100px;
    list-style: none;
    text-align: center;
}

.nav-bar .links .link a:hover {
    background-color: beige;
    color: black;
}

.nav-bar .links .link a {
    text-decoration: none;
    color: #fffffe;
}

.nav-bar .links .link .links2 {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.nav-bar .links .link .links2 a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-bar .links .link:hover .links2 {
    display: block;
    opacity: 1;
}

.contenedor{
    min-height: 82vh;
}

.slider img {
    width: 100%;
    position: absolute;
    transition: transform 1s ease;
    transform: translateX(-100%);
    z-index: 1;
}

.slider img:first-child {
    transform: translateX(0);
}

.enlaces {
    position: absolute; 
    bottom: 100px; 
    margin-top: 20px; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


.enlaces a {
    text-decoration: none;
    height: 40px;
    width: 300px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces .Preinscripciones {
    background-color: yellow;
}

.enlaces .Programas {
    background-color: green;
}

.enlaces .Info {
    background-color: blue;
}
section{
    display: flex;
    justify-content: center;
    background-color: #747676;
    height: 60px;
    align-items: center;
}
section > h2{
    

}
a{
    text-decoration: none;
    color: black;
}
section >a > button{
    height: 40px;
    width: 200px;
    font-style: italic;
    background-color: #09857f;
    border: none;
}
section >a > button:hover{
    cursor: pointer;
}
.contenedor_secundario{
    background-color: #8d8e8e;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contenedor_secundario ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    
    

}
.contenedor_secundario ul li{
    list-style: none;
    
}
.contenedor_secundario ul li a img{
    margin-top: 5px;
    border-radius: 100%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}
.contenedor_secundario ul li a img:hover{
    box-shadow: 0 2px 20px white;
}
footer{
    
    display: flex;
    background-color: #004643;
    justify-content: space-around;
}
footer > figure > img{
    width: 100px;
    height: 100px;
}

footer > ul li{
    list-style: none;
}
.redes i{
    color: aqua;
    font-size: 40px;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.redes #f{
    color: blue;
}
.redes #i{
    color: pink;
}
.redes #t{
    color: black;
}
.redes #y{
    color: red;
}
.iconFooter{
    display: flex;
    align-items: center;
    gap: 40px;
}
.iconFooter i{
    font-size: 80px;
}

